// app global css in SCSS form
.toolbar-title {
  display: flex;
  align-items: center;
}

.toolbar-content {
  display: flex;
  align-items: center;
}

.toolbar-content img {
  margin-right: 10px;
}

.header {
  background-color: white;
  color: black;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.container {
  display: flex;
  align-items: center;
}

.menu-button {
  margin-right: 10px;
}

.search-input {
  width: 200px;
}

.profile-icon, .theme-toggle-icon {
  font-size: 24px;
  cursor: pointer;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

img {
  border-radius: 10px;
}

.search-form {
  display: flex;
  align-items: center;
  border: 1px solid #bbb;
  padding: 0;
  border-radius: 35px;
  width: 500px;
}

.search-form input {
  border: none !important;
  outline: none !important;
  padding: 10px 20px;
}

.search-input-container, .search-input-container label {
  flex: 1;
  margin-right: 4px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  border-radius: 15px;
  border: none !important;
}

.search-button {
  margin-left: 0px;
  background-color: #e0dfdf;
  border: 1px solid #bbb;
  padding: 20px 40px;
  border-radius:35px;
  height: 100%;
}

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
}


.user_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  border: 1px solid blue;
  padding: 10px;
  border-radius: 30px;
  gap: 10px;
}
